<head>
    <meta charset="utf-8">
    <title>{{ if not .IsHome }}{{ .Title }} {{ with .Site.Params.TitleSeparator }}{{ . }}{{ else }}|{{ end }} {{ end }}{{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "css/bootstrap.min.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/bootstrap-dropdown-hover.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/icomoon/style.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
    {{ range .Site.Params.CustomStyles }}
    <link rel="stylesheet" href="{{ . | relURL }}">
    {{ end }}
    {{ with .Site.Params.Favicon }}<link rel="icon" href="{{ . | relURL }}">{{ end }}
</head>
